/* @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500); */

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Ubuntu", sans-serif;
	font-size: 100%;
	background:#f8f8f8;
}

a{
	text-decoration: none;
	color:#666;
}
a:hover{
	color:#999;
}

button {
	padding: 10px;
	border-radius: 3px;
	background: #E0E0E0;
	border: #CCC 1px solid;
}

p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}

hr{
	border: 0;
	border-bottom: #CCC 2px solid;
	margin: 30px auto;
}

.title{
	font-size: 4em;
}

.wrap{
	max-width: 600px;
	margin:50px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
}

.blue {
    color: #2d61d5;
    font-weight: bold;
}

.debug {
    outline: 2px dotted;
}

.anim-container {
    width: 50%;
}

.img-container {
    width: 50%;
}

#container1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

#typed {
    font-size: 60px;            
}

.img-slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
}